<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/dashboard.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <nav>
        <a href="/" class="nav-item nav-text selected">
            <h3>Dashboard</h3>
        </a>
        <a href="/sets" class="nav-item nav-text">
            <h3>Your Sets</h3>
        </a>
        <a href="/classes" class="nav-item nav-text">
            <h3>Classes</h3>
        </a>
        <div class="nav-separator"></div>
        <div class="nav-item nav-create">
            <p>Create</p>
            <img src="/images/add.svg" alt="">
            <div class="create-dropdown">
                <a href="/sets/new" class="create-dropdown-elem">Set</a>
                <div href="/classes/new" class="create-dropdown-elem"
                    onclick="document.getElementById('background-darkener').style.display='inherit'">Class</div>
            </div>
        </div>
        <img class="nav-item " src="/images/account.svg" alt="">
    </nav>
    <div class="homework-section">
        <h2 style="margin-bottom: 0;">Homework</h2>
        <div class="homework-class-selector">
            <select name="dog-names" class="homework-class-selector">
                <option value="All classes">All classes</option>
                <%for(let i=0;i<classes.length;i++) {%>
                    <option value="<%= classes[i]%>">
                        <%= classes[i]%>
                    </option>
                    <%}%>
            </select>
        </div>
        <a href="/class" class="homework-item">
            <div class="homework-item-left">
                <h4 class="homework-title">H3 paragraaf A</h4>
                <p class="homework-class">Frans 3ad</p>
            </div>
            <div class="homework-item-right">
                <div class="homework-data-section" style="margin-left: auto;">
                    <p>5d&nbsp;</p>
                    <img src="/images/clock.svg" onerror="this.style.display='none'" style="margin-top: -1px;">
                </div>
                <div class="homework-data-section">
                    <p>32w&nbsp;</p>
                    <img src="/images/checklist.svg" onerror="this.style.display = 'none'">
                </div>
            </div>
        </a>
    </div>
    <div class="background-darkener" id="background-darkener" style="display: none;">
        <div class="class-create-section">
            <div class="class-create-top">
                <h1>Create a new class</h1>
                <img src="/images/close.svg" alt="close"
                    onclick="document.getElementById('background-darkener').style.display='none'">
            </div>
            <form action="/classes/new" method="POST">
                <label for="class-name">Class name:</label>
                <input name="name" autocomplete="off" type="text" id="class-name">
                <div class="class-language-container">
                    <label for="class-language">Language:</label>
                    <select name="language" id="class-language">
                        <option value="0">French</option>
                        <option value="1">German</option>
                        <option value="2">English</option>
                        <option value="3">Spanish</option>
                        <option value="4">Chinese</option>
                        <option value="5">Other</option>
                        <option value="6">Non specific</option>
                    </select>
                </div>
                <button class="" type="submit">Create</button>
            </form>
        </div>
    </div>
</body>

</html>