<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <nav>
        <a href="/" class="nav-item nav-text selected">
            <h3>Dashboard</h3>
        </a>
        <a href="/sets" class="nav-item nav-text">
            <h3>Your Sets</h3>
        </a>
        <div class="nav-separator"></div>
        <div class="nav-item nav-create">
            <p>Create</p>
            <img src="/images/add.svg" alt="">
        </div>
        <img class="nav-item " src="/images/account.svg" alt="">
    </nav>
    <div class="classes-section">
        <h2>Classes</h2>
        <a href="/classes"></a>
        <div class="class-container">
            <h3>Frans 3ad</h3>

        </div>
    </div>
</body>
<style>
    * {
        font-family: "roboto";
    }

    html,body {
        background-color: rgb(27, 27, 34);
        margin: 0;
        padding: 0;
        color: white;
        height: 100%;
    }

    body {
        display: grid;
        grid-template-areas:
        "nav nav"
        "main classes";
        grid-template-columns: 1fr 300px;
        grid-template-rows: 50px 1fr;
    }

    nav {
        grid-area: nav;
        background-color: rgb(73, 73, 73);
        display: flex;
        padding: 7px 15px;
        box-sizing: border-box;
    }

    .nav-item {
        cursor: pointer;
        margin-inline: 10px !important;
    }

    .nav-text {
        text-decoration: none;
        color: white;
        margin-bottom: -7px;
    }

    .nav-text>h3 {
        font-size: 1.2rem;
        margin: 5px 0 0 0;
    }

    .nav-text.selected,
    .nav-text:hover {
        border-bottom: solid;
    }

    .nav-separator {
        margin: auto;
    }

    .nav-create {
        display: flex;
        gap: 5px;
        box-sizing: border-box;
        padding: 5px;
        background-color: rgb(46, 124, 212);
        border-radius: 5px;
        box-shadow: 2px 2px 5px black;
    }

    .nav-create>p {
        margin: 0;
        font-size: 1.3rem;
    }

    .classes-section {
        grid-area: classes;
        background-color: rgb(37, 37, 46);
        border-left: 1px solid rgb(68, 68, 79);
        padding: 10px;
        color: rgb(164, 164, 164);
    }

    .class-container {
        border: 1px rgb(68, 68, 79) dashed;
        border-radius: 5px;
        padding: 5px;
    }

    .class-container>h3 {
        margin: 0;
        border-bottom: 1px rgb(68, 68, 79) dashed;
    }
</style>

</html>