.homework-class-selector {
    margin-top: -5px;
}

.homework-class-selector>select {
    background-color: rgb(37, 37, 46);
    color: rgb(164, 164, 164);
    border: none;
    outline: none;
    cursor: pointer;
}

.homework-class-selector option {
    width: 400px;
}

.homework-item-left>*,
.homework-data-section>* {
    margin-top: 0;
    margin-bottom: 0;
}

.homework-item-right {
    margin-left: auto;
}

.homework-data-section {
    display: flex;
}

.homework-data-section>*:first-child {
    margin-left: auto;
}

.homework-data-section>img {
    height: 20px;
}