<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Learn</title>
  <link rel="stylesheet" href="/static/learn.css">
  <link rel="stylesheet" href="/static/std.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>
<body>
  <nav>
    <input type="checkbox" name="modus-switch" id="modus-switch" hidden>
    <img src="/images/logo.svg" alt="Logo">
    <div class="modus-dropdown">
      <label for="modus-switch">
        <h1>Learn</h1>
      </label>
      <ul class="content">
        <li>Quiz</li>
        <li>Test</li>
      </ul>
    </div>
  </nav>
</body>
</html>