<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/test.css">
    <link rel="stylesheet" href="/static/std.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <nav>
        <a href="/dashboard" class="nav-item nav-text">
            <h3>Dashboard</h3>
        </a>
        <a href="/sets" class="nav-item nav-text selected">
            <h3>Your Sets</h3>
        </a>
        <a href="/classes" class="nav-item nav-text">
            <h3>Classes</h3>
        </a>
        <div class="nav-separator"></div>
        <div class="nav-item nav-create">
            <p>Create</p>
            <img src="/images/add.svg" alt="new">
            <div class="create-dropdown">
                <a href="/sets/new" class="create-dropdown-elem">Set</a>
                <div href="/classes/new" class="create-dropdown-elem"
                    onclick="document.getElementById('background-darkener').style.display='inherit'">Class</div>
            </div>
        </div>
        <img class="nav-item " src="/images/account.svg" alt="">
    </nav>
    <main>

    </main>
</body>